<nav class="navbar is-light has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/']">Tincan - create and share encrypted messages</a>
      <a role="button" class="navbar-burger" [class.is-active]="isMenuVisible" (click)="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" [class.is-active]="isMenuVisible">
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button" target="_blank" href="https://github.com/nringbaek/tincan">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>
              View on GitHub
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>